@media (prefers-color-scheme: dark) {
  body:empty,
  html:empty {
    background-color: #000000;
  }
}

@media (prefers-color-scheme: light) {
  body:empty,
  html:empty {
    background-color: #ffffff;
  }
}