@media (prefers-color-scheme: dark) {
  html:empty {
    background-color: #000000;
  }

  body {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  html:empty {
    background-color: #ffffff;
  }

  body {
    opacity: 0;
  }
}

@keyframes auto-dark-mode-anti-white-flash-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.auto_dark_mode_anti_white_flash_fade_in {
  opacity: 0;
  animation-name: auto-dark-mode-anti-white-flash-fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease;
}

.auto_dark_mode_anti_white_flash_faded_in {
  opacity: 1;
}