@media (prefers-color-scheme: dark) {
  .auto_dark_mode_anti_white_flash_mask {
    backdrop-filter: brightness(50%);
    -webkit-backdrop-filter: brightness(50%);
  }
}

@media (prefers-color-scheme: light) {
  .auto_dark_mode_anti_white_flash_mask {
    pointer-events: none;
  }
}

.auto_dark_mode_anti_white_flash_mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 1;
  transition: opacity 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

.auto_dark_mode_anti_white_flash_mask.auto_dark_mode_anti_white_flash_mask_hide {
  opacity: 0;
}